body {
    display: flex;
    background: #A0A89A;
    font-size: 100%;
    display: block;
    margin: 0;
}

.cab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #596153;
    border-color: #EF4F2B;
    padding: 10px;
}

.body2 {
    margin: 55px;
}

.form {
    margin: 50px;
}

.cab-i {
    padding: 30px;
    color: #ff6338;
}

.img {
    height: 60px;
}

.a {
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-left: 90px;
    font-size: 27px;
}

#git {
    font-size: 60px;
}

.fim {
    background-color: #596153;
    padding: 70px;
}

.nome {
    font-size: 30px;
}

.b1 {
    height: 70px;
}