body {
    display: flex;
    background: #A0A89A;
    font-size: 100%;
    display: block;
    margin: 0;
}

.cab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #596153;
    border-color: #EF4F2B;
    padding: 10px;
}